body{
  width: 100%;
  background-color: #ffffff;
  padding: 170px 0px 0px 0px;
}


 @media only screen and (max-width:1440px){
  body{
    width: 100%;
   
    padding: 140px 0px 0px 0px;
  } 
} 

/* NavMain */
.header1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 144px;

  overflow: hidden;
  position: fixed;
  
  top: 0%;
  background: #ffffff;
}

@media only screen and (max-width:992px){

  .header1{
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .nav ul{
    flex-wrap: wrap;
    text-decoration: underline;
    /* flex-direction: column; */
  }
}

.nav ul{
  display: flex;
  
}


.nav ul li{
  
  text-transform: uppercase;  
  list-style: none;
  padding: 0px 15px 0px 0px;
  
}

.fir_link{
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  color: #273043;
  text-decoration: none;
}

.fir_link:active{
  background-color: yellow;
  color: #f5772f;
}

 .fir_link:hover{
  color: #ff0000;
}



.sideheader{
  display: inline-flex; 
 
}

.sideheader p{
  padding: 0px 10px;
  margin: auto; 
}

.sideheader .buttons{
  font-size: 12px;
  margin: auto;
  background: none;
} 

/* styling for 2nd nav header */

.header2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 48px;


  background: #17255a;
 
}

@media only screen and (max-width:992px){
  .header2{
    width: 100%;
    height: auto;
    /* position: fixed;
    overflow: hidden;
    margin: 0px; */
   
  
  }

.nav2 ul{
  flex-wrap: wrap;
  
}


}

.nav2 ul{
  display: flex;
}

.nav2 ul li{
  
  text-transform: uppercase;  
  list-style: none;
  padding: 0px 15px 0px 0px;
}

.sec_link{
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;  
}

.sec_link:hover{
  color: #000000;
}

.sec_link.active{
  color: #eac435;
}
/* end */








/* landing page styling intro*/
.contain_1{
  
  background: #ffffff;
  padding: 1px 0px 0px 0px;
} 

.intro{
  margin: 126px 0px 0px 61px;
 
}

@media only screen and (max-width:992px){


 .intro{
 
   height: auto;
   margin: 0px;
   padding-top:1px ;
 }
}

.intro_notes{
  height: 281px;
width: 654px;
left: 100px;
top: 270px;



}

@media only screen and (max-width:992px){
  .intro_notes{
    width: auto;
    height: auto;
    margin-top: 100px;
    
  }

  .intro_notes .nOne{
    text-align: center;
  }

  .intro_notes .nTwo{
    font-size: 15px;
    text-align: center;
  }
}

.nOne{ 
  font-style:normal;
  font-weight: 900;
  font-size: 38px;
  color: #17255A;
  
  line-height: 40px;
  text-transform: capitalize;
}

.nTwo{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.15px;
  color: #273043;
 
}
/* end */


/* home page video styling */
.img_con{
  height: 460px;
margin-top: -100px;
margin-left: 150px;
}

@media only screen and (max-width:992px){
  .img_con{
   margin: 40px 0px 0px 0px ;
    height: auto;
    width: auto;
  }
}

.img_con img{
  width: 100%;
  height: auto;
}


.img2{
  
  height: 56px;
  width: 53.20775604248047px;
margin-left: 623px;
margin-top: -300px;
}

@media only screen and (max-width:600px){
  .img2{
    height: 56px;
width: 53.20775604248047px;

margin-top: -100px;
margin-left: 200px;


  }
}

.img2 p{
  top: 914.52px;
  left: 623px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110.19%; 

  letter-spacing: 0.1px;
  color: #eeeeee;
}
/* end */



/* learnable section styling intro head */
.learnable{
height: 780px;
 
left: 0px;
padding-top:1px;
background: #ffffff;
}

@media only screen and (max-width:992px){
  .learnable{
    height: auto;
  }
}

.intro_notes2{
display: flex;
height: 580px;

margin: 100px 100px 100px 50px;


}

@media only screen and (max-width:992px){
  .intro_notes2{
    height: auto;

    width: auto;


    flex-direction: column;
    margin: 0px 0px 0px 0px;
  }
}
.learn_img{
  width: 100%;
  height: auto;
margin-top: 100px;
}

.text_{
margin: 100px 0px 199px 10px;
}

@media only screen and (max-width:992px){
.text_{
  
  text-align: center;
 
}
}

.text_ h3{
  font-style:normal;
  font-weight: 900;
  font-size: 38px;
  color: #17255A;
  
  line-height: 40px;
  text-transform: capitalize;
}



.text_ a{
  font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 1.25px;
text-align: left;
color: #03cea4;
}

/* end */


/* section three the agora */
.agora{
  height: 780px;
 
left: 0px;
padding-top:1px;
background: #eeeeee;
}

@media only screen and (max-width:992px){
  .agora{
    height: auto;
  }
}

.intro_notes3{
  display: flex;
  height: 580px;
  
  margin: 100px 100px 100px 50px;
  
  }

  @media only screen and (max-width:992px){
    .intro_notes3{
      flex-direction: column-reverse;
      height: auto;
      width: auto;
      margin: 0px 0px 0px 0px;
    }
  }

  .text__{
    margin: 199px 100px 199px 50px;
  }

  @media only screen and (max-width:992px){
    .text__{
      text-align: center;
      margin-top: 100px;
     
    }
  }

  .text__ h3{
    font-style:normal;
  font-weight: 900;
  font-size: 38px;
  color: #17255A;
  
  line-height: 40px;
  text-transform: capitalize;
  }

  .text__ a{
    
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.25px;
  text-align: left;
  color: #03cea4;

  }
  .the_agora{
    max-width: 100%;
    height: auto;
  }
/* end */




/* section 4 startzone */

.startZone{
  height: 780px;
   
  left: 0px;
  padding-top:1px;
  background: #ffffff;
  }

  @media only screen and (max-width:992px){
   .startZone{
     height: auto;
   }
  }
  
  .intro_notes4{
  display: flex;
  height: 580px;
  margin: 100px 100px 100px 50px;
  
  
  }
  
  @media only screen and (max-width:992px){
    .intro_notes4{
      flex-direction: column;
      height: auto;
      width: auto;
      margin: 0px;
     
    }

    .text___ {
      text-align: center;
     
     
    }
  }

  .start_zone{
    max-width: 100%;
    height: auto;
  
  }
  
  .text___{
  margin: 199px 0px 199px 100px;
  }
  
  .text___ h3{
    font-style:normal;
    font-weight: 900;
    font-size: 38px;
    color: #17255A;
    
    line-height: 40px;
    text-transform: capitalize;
  }
  
  .text___ a{
    font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.25px;
  text-align: left;
  color: #03cea4;
  }
/* end */


  /* section 4 other things */

  .others{
    height: 780px;
   
  left: 0px;
  padding-top:1px;
  background: #eeeeee;
  }

  @media only screen and (max-width:992px){
    .others{
      height: auto;
    }
  }

  .other_con{
    display: flex;
    height: 576px;
  
  margin: 100px 150px 103px 50px;
  
 
  }

  @media only screen and (max-width:992px){
    .other_con{
      width: auto;
      height: auto;
      flex-direction: column-reverse;
      justify-content: center; 
      align-items: center;
      text-align: center;
     margin: 0px;
      
    }

    
  }


  .other_photos{
    height: 576px;
   width: 505px; 
 
  }

  @media only screen and (max-width:992px){
    .other_photos{
      width: 100%;
      height: 1300px; 
      margin-top: -150px;
    
    }

    .ign_text{
      margin-top: 180px;
     margin-left: -110px;
    }

    .code_ville{
      margin-left: auto;
    }

    .code_ville img{
      
      margin-top: -50px;
      margin-left: 130px;
    }

    .vill_text {
      margin-left: 130px;
    }

    .pink_ img{
     
      margin-left: -250px;
      margin-top: 350px;
    }

    .pin_text{
      margin-left: -130px;
    }
    
  }

  

  .ign_text a p{  
margin-left: 264px;
margin-top: -183px;   
font-size: 34px;
font-style: normal;
font-weight: 900;
line-height: 37px;
letter-spacing: 0.25px;
text-align: left;
color: #17255A;
  }



  .code_ville{
    height: 200px;
width: 240px;
margin-left: 0px;
margin-top: 125px;
  }

  .vill_text a p{
    margin-top: 3px;
    margin-left: 25px;
    font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 37px;
letter-spacing: 0.25px;
text-align: left;
color: #17255A;
  }

  .pink_{
    height: 311px;
width: 240px;
margin-left: 255px;
margin-top: -200px;
  }

  .pin_text a p{
    margin-top: 1px;
    margin-left: 25px;
    font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 37px;
letter-spacing: 0.25px;
text-align: left;
color: #17255A;
  }

  .other_con h3{
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 66px;
letter-spacing: -0.5px;
text-align: left;
color: #17255a;
margin: 199px 0px 199px 100px;
  }
  /* end */



  /* section 5 team */
  .team{
    height: 780px;
     
    left: 0px;
    padding-top:1px;
    background: #17255A;
    }

    @media only screen and (max-width:992px){
      .team{
        height: auto;
        padding-top: 1px;
      }
    }

  .intro_notes5{
    display: flex;
    width: auto;
    height: 580px;
    
    margin: 100px 100px 100px 50px;
    
    background: #17255A;
    }

    @media only screen and (max-width:992px){
      .intro_notes5{
        flex-direction: column;
        height: auto;
      width: auto;
      margin: 0px;
      text-align: center;
      }
    }
    
    .team_{
      width: 100%;
      height: auto ;
    
    }
    
    .text____{
    margin: 199px 0px 199px 100px;
    
    }
    
    .text____ h3{
      font-style:normal;
      font-weight: 900;
      font-size: 38px;
      color: #ffffff;
      
      line-height: 40px;
      text-transform: capitalize;
    }

    .text____ p{
      color: #ffffff;
    }
    
    .text____ a{
      font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1.25px;
    text-align: left;
    color: #03cea4;
    }
/* end */




/* /* subscribe component styling begins  */

.subscribe{
  
  height: 306px;
  margin-left: 18px;
  margin-top: -177px;
  
  padding-top: 1px;
  background: palegreen;
}

@media only screen and (max-width:992px){
  .subscribe{
    margin: 0px;
    height: auto;
  }
}

.subs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 306;
  
  margin-left:82px ;
  background: #eac435;
  padding-top: 1px;
}

@media only screen and (max-width:992px){
  .subs{
    width: auto;
    height: auto;
    flex-direction: column;
    background: #03cea4 ;
    margin: 0px;
    

  }



  input[type=submit]{
    margin-top: 40px;
  }

  .subs p{
    text-align: center;
  }
}


.sub_link{
margin: 97px 104px 100px 49px;
  
font-size: 34px;
font-style: normal;
font-weight: 900;
line-height: 37px;
letter-spacing: 0.25px;
text-align: left;

}

input[type=email]{
  width:214;
  border: none;
  border-bottom: 2px solid black;
  background: none;
}

input[type=submit]{
  background: none;
 
} 
/* end */

/* /* footer styling begins  */
.footer_{
  height: 565px;
  padding-top: 1px;
  color: #273043; 
  background: #eeee;
}

@media only screen and (max-width:992px){
  .footer_{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
  }
}

.footer_con{
  height: 370px;
  
  margin: 95px 47.67px 100px 50px;
  
 
}

@media only screen and (max-width:992px){
  .footer_con{
    margin: 0px;
    height: auto;
    width: 100%;
   
  }
}

.footer_deets{
  display:  flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 213px;
  
  margin: 95px 47.67px 257px 0px;

  
 
}

@media only screen and (max-width:992px){
  .footer_deets{
    width: auto;
    height: auto;
    flex-direction: column;
    
    align-items: center;
    margin: 0px;
   
  }

  .footer_links{
    margin-top: 10px;
  }
}

.footer_links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 135.5px;
  width:216px;
}

.footer_links a{
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 1.25px;
text-align: left;

}

.footer_contacts{
  width: 367px;
  height: 133px;
}


@media only screen and (max-width:992px){
  
  .footer_contacts {
    width: auto;
    font-size: 10px;
   
    
  }

  .headto_dev{
    flex-direction: column;
    
    align-items: center;
    margin-top: 100px;
    margin-left: -300px;
    height: auto;
    width: auto;
  }
}



.footer_contacts p{
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.25px;
text-align: left;

}



.footer_contacts a{
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 1.25px;
text-align: left;

}

.headto_dev{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 455.33px;
  height: 208px; 
}

.footer_img{
  width: auto;
  height: 100%;
}

.footer_para{
  margin-left: 18px;
}

.footer_para p{
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.25px;
text-align: left;

}

.footer_para a{
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 1.25px;
text-align: left;

}

.footer_socials{
 
  height: 57px;
  width: 272px;
  margin: -156px 250px 0px 450px;

 
}

@media only screen and (max-width:992px){
  .footer_socials{
   width: 100%;
    height: auto;
    
    margin-top: 100px;
    margin-left: auto;
  }

  .social_links{
    margin: auto;
    
    width: auto;
  }

  .social_links_para{
    margin-left: -100px;
    text-align: center;
    
  }
}

.social_links{
  display: flex;
  justify-content: space-between;
  
  width: 272px;
  height: 22px;
}


.social_links_para{
  height: 13px;
  width: 257px;
  margin-top: 24px;
  margin-left: 7px;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 11px;
letter-spacing: 1.5px;
text-align: center;
}
/* end */


/* /* arrow down styling  begins */

.arr_con{
  margin: 207.56px 67px 0px 0px; 
}

.down_arrow{
  background: none;
  border: none;
} 

@media only screen and (max-width: 992px){
  .arr_con{display: none;}
  .arr_con1{display: none;}
}

/* /* arrown up styling  */

.arr_con1{
  margin: 129px 67px 0px 39px; 
}

.up_arrow{
  background: none;
  border: none;
} 
/* arrow styling ends */


  


  

/* /*  learnable component styling */

    .intro_learn{
      display: flex;
      justify-content: space-around;
      height: 242px;
      background: #eac435;
    }

    
    .intro_learn h3{  
      font-size: 34px;
      font-style: normal;
      font-weight: 900;
      line-height: 37px;
      letter-spacing: 0.25px;
      text-align: left;
      color: #17255A;

    }

@media only screen and (max-width:992px){
  .intro_learn{
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 1px;
    margin: 0px;
  }

  .intro_learn h3{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }
}

    .intro_learn p{    
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.25px;
      text-align: left;
    }

    @media Only Screen and (max-width:992px){
      .intro_learn p{
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #17255a;
      }
    }

    .learn2 a{
      font-size: 34px;
      font-style: normal;
      font-weight: 900;
      line-height: 37.46px;
      letter-spacing: 0.25px;
      text-align: left;
      text-transform: uppercase;
      color: #17255A;
    }


    @media Only Screen and (max-width:992px){
      .learn2 a{
        font-size: 15px;
        font-weight: normal;
        text-align: center;
      }
    }


    .learn1{
      margin: auto;
    }

    .learn2{
      margin: auto;
    }
/* end */



/* /* everythin is learnable  */
    .desc_con{
      height: 689px;
      
      left: 0px;
      background: #ffffff;
     
    }

    @media Only Screen and (max-width:992px){
     .desc_con{
       width: 100%;
       height: 600px;
       padding-top: 1px;
     }
    }


    .description{
      height: 400px;
      width: 513px;
      margin-left: 100px;
      margin-top: 50px;
    }

    @media Only Screen and (max-width:992px){
      .description{
        width: 100%;
        height: auto;
        margin: 0px;
      }
     }


    .description h3{    
      font-size: 96px;
      font-style: normal;
      font-weight: 900;
      line-height: 90px;
      letter-spacing: -1.5px;
      text-align: left;
      color: #17255A;
    }

    @media Only Screen and (max-width:992px){
      .description h3{
       font-size: 50px;
       text-align: center;

      }
      .description h3 br{
        display: none;
      }
     }

    .description p{     
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.1px;
      text-align: left;
      margin-top: -32px;
    }

    @media Only Screen and (max-width:992px){
      .description p{
       font-size: 15px;
       text-align: center;
       color: #17255a;
      }
     }

    .stats{
      
      height: 536px;
      padding-top: 1px;
      background: #eeeeee;
     
      
    }
@media only screen and (max-width:992px){
  .stats{
    width: auto;
    height: auto;
    padding-top: 1px;
   
  }
}
   
    .stat_of_stat{
      display: flex;
      justify-content: space-around;
      margin: 325px 277px 96px 207px;
      width: 886px;
      height: 115px;
    }

    @media only screen and (max-width:992px){
      .stat_of_stat{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        width: auto;
        height: auto;
        margin: 300px 0px 0px 0px;
      }

      .stat_of_stat h2{
        color: #03cea4;
      }
    }
/* end */




/* secone video on learnable page */
    .video{
     
      height: 920px;
      margin: -1000px 0px 0px 0px; 
    } 

    @media Only Screen and (max-width:992px){
      .video{
        width: 100%;
        height: auto;
        margin: -750px 0px 0px 0px;
      }
     }

    .image__{
       height: 631px;
      margin: 150px 0px 78px 64px;
      
        display: flex; 
    }

    @media Only Screen and (max-width:992px){
      .image__{
        width: 100%;
        height: auto;
        margin: 0px;
      }
     }
    
    
    .img_con2{
      height: 631px;
      margin: 171px 0px 0px 0px;
    }  

    @media Only Screen and (max-width:992px){
      .img_con2{
        width: 100%;
        height: auto;
      }
     }


    .img3{
      height: auto;
     width: auto;
      margin-top: -130px;
    margin-left: 200px;
    }

    .img3 img{
      height: 56px;
      width: 53.20775604248047px;
    }

    .img3 p{
      margin-top: 0px;
      margin-left: -50px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 110.19%; 
     
      letter-spacing: 0.1px;
      color: #eeeeee;
    }

    .vid_1{
      width: 100%;
      height: auto;  
    } 

    /* end */
   



    /* /* styling for those circle thingys  */
    .sphereofspheres{
      display: flex;
      justify-content: space-between;
      height: 250px;
      width: 516px;
      margin-left: 760px;
      margin-top: -690px; 
      text-align: center;
    }

    @media only screen and (max-width:992px){
      .sphereofspheres{
        align-items: center;
        height: 170px;
        width: 346px;
        margin-left: 75px;
        margin-top: -350px;
      }
    }

    .sphere1{
      height: 250px;
      width: 250px;
      left: 0px;
      top: -2px;
      border-radius: 125px;
      background: #03cea4;
    }

   @media only screen and (max-width:992px){
     .sphere1{
      height: 170px;
      width: 170px;
      border-radius: 125px;
      
     }
   }

  .sphere1 a h6{
    margin-top: 95px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0px;
    color: #273043;
  }

  .sphere1 p{
    margin-top: -50px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #273043;
  }


  @media only screen and (max-width:992px){
    .sphere1 a h6{
    margin-top: 60px;
    font-size: 20px;
    }

  }

    .sphere2{
      height: 250px;
      width: 250px;
      left: 0px;
      top: -2px;
      border-radius: 125px;
      background: #17255a;
    }

    @media only screen and (max-width:992px){
      .sphere2{
       height: 170px;
       width: 170px;
       border-radius: 125px;
       
      }
    }

    .sphere2 a h6{
      margin-top: 95px;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: 26px;
      letter-spacing: 0px;
      color: #ffffff;
      } 

      .sphere2 p{
        margin-top: -50px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #ffffff;
      }

      @media only screen and (max-width:992px){
        .sphere2 a h6{
        margin-top: 60px;
        font-size: 20px;
        }
    
      }
    

      /* end */





      /* /* styling for great people section  */
      .great_people{
        height: 652px;
        padding: 1px;
        background:#ffffff;
      }

      @media only screen and (max-width:992px){
        .great_people{
          height: auto;
          width: auto;
          margin-top: 700px ;
        }
      }

      .intro_notes6{
        display: flex;
        justify-content: space-between;
      
        height: 452px;
        margin: 100px 150px 100px 100px;
      }


      @media only screen and (max-width:992px){
        .intro_notes6{
          flex-direction: column-reverse;
          height: auto;
          width: auto;
          margin: 0px;
        }
      }

      .textinfo{
        height: 313px;
        width: 538px;
        color: #273043;
      }

     

      .textinfo h3{      
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
      }

      @media only screen and (max-width:992px){
        .textinfo h3{
          text-align: center;
          font-size: 30px;
        }
      }

      .textinfo p{
       margin-top: 40px;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-align: left;
      }

      @media only screen and (max-width:992px){
        .textinfo p{
          text-align: center;
          font-size: 15px;
        }
      }

      .cutout{
        height: 452px;
        width: 452px;
      }

      .cut_out{
        height: 452px;
        width: 452px;
        border-radius: 356px;
        background: #03cea4;
      }

      @media only screen and (max-width:992px){

        .cutout{
          height: 216.32000732421875px;
          width: 216.32000732421875px;
          margin-left: 79px; 
        }

        .cut_out{
          height: 216px;
          width: 216px;
          border-radius: 356px;
          margin-left: 79px;
        }


        .cutimg img{
          height: 223px;
          width: 335px;
          margin-left: -60px;
          margin-top: -7px;
        }
      }
      /* end */


      /* unuusal learning */
      .unusual{
        height: 780px;
         
        left: 0px;
        padding-top:1px;
        background:#eeeeee;
     
        }

        @media only screen and (max-width:992px){
          .unusual{width: auto;
            height: auto;
          
          }
        }
        
        .intro_notes7{
        display: flex;
        height: 580px;
        
        margin: 100px 100px 100px 50px;
        }

        @media only screen and (max-width:992px){
          .intro_notes7{
            flex-direction: column;
           
            height: auto;
            width: auto;
            margin: 0px 0px 0px 0px;
           
          }
        }
        
        .unusual_img{
          max-width: 100%;
          height: auto;
        
        }
        
        

        .text_____{
        margin: 10px 0px 199px 10px;
        }

        
        @media only screen and (max-width:992px){
          .text_____ h3{
          text-align: center;
          }
        }
        
        .text_____ h3{
          font-style:normal;
          font-weight: 900;
          font-size: 38px;
          color: #17255A;
          
          line-height: 40px;
          text-transform: capitalize;
        }
        
        .text_____ p{
          font-size: 15px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        letter-spacing: 1.25px;
        text-align: left;
        }

        @media only screen and (max-width:992px){
          .text_____ p{
          text-align: center;
          line-height: 24px;
          }
          .text_____ p br{
          display: none;
            }
        }

      /* end */



/* /* styling for developers  */
.for_developers{
  height: 1215px;
  padding-top: 1px;
  background: #ffffff;
}

@media only screen and (max-width:992px){
  .for_developers{
    width: auto;
    height: auto;
    margin: 0px;
    padding-top: 1px;
  }
}
.developers{
  display: flex;
  justify-content: space-between;
  height: 1017px;
  
  margin: 98px 50px 100px 100px;
}
@media only screen and (max-width:992px){
  .developers{
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding-top: 1px;
  }
}

.text_note{
  height: 413px;
  width: 520px;
  margin-top: 304px;
  color: #273043;
}

@media only screen and (max-width:992px){
  .text_note{
    width: auto;
    height: auto;
   margin-top: 100px;
  }
}

.text_note h6{
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 1.5px;
  text-align: left;
}
@media only screen and (max-width:992px){
  .developers .text_note h6{
    text-align: center;
  }
}


.text_note h3{
  margin-top: 40px;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left; 
}
@media only screen and (max-width:992px){
  .developers .text_note h3{
    text-align: center;
  }
}


.text_note p{
  margin-top: 40px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left; 
}
@media only screen and (max-width:992px){
  .developers .text_note p{
    text-align: center;
  }
  .developers .text_note p br{
    display: none;
  }
}

.text_note a{
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 1.25px;
text-align: left;
color: #03cea4;
}


.developers .topics{
  display: grid;
  grid-template-columns: auto auto;
  width: 620px;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 37px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #eeeeee;
}
@media only screen and (max-width:992px){
.developers .topics{
   display: grid;
   grid-template-columns: auto;
   height: auto;
   width: 100%;
   margin-top: 10px;
   text-align: center;
   font-size: 20px;
   text-decoration: underline;
 }
}

.js_{
  background: #17255A;
}
.git_{
  background: #03cea4;
}
.react_{
  background: #eac435;
  color: #17255A;
}
.node_{
  background: #2d1e2f;
}
.mongo_{
  background: #273043;
}
.heroku_{
  background: #f5772f;
}
/* end */

/* /* styling for designers  */

.for_designers{
  height: 1215px;
  padding-top: 1px;
  background: #eeeeee;
}
@media only screen and (max-width:992px){
  .for_designers{
    width: auto;
    height: auto;
    margin: 0px;
    padding-top: 1px;
  }
}

.designers{
  display: flex;
  justify-content: space-between;
  height: 1017px;
  
  margin: 98px 50px 100px 100px;
}
@media only screen and (max-width:992px){
  .designers{
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding-top: 1px;
  }
}


.designers .text_note_{
  height: 413px;
  
  margin-top: 304px;
  margin-left: 10px;
  color: #273043;
}

@media only screen and (max-width:992px){
  .designers .text_note_{
    width: auto;
    height: auto;
   margin-top: 100px;
  }
}

.text_note_ h6{
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 1.5px;
  text-align: left;
}

@media only screen and (max-width:992px){
  .designers .text_note_ h6{
    text-align: center;
  }
}

.text_note_ h3{
  margin-top: 40px;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
@media only screen and (max-width:992px){
  .designers .text_note_ h3{
    text-align: center;
  }
}

.text_note_ p{
  margin-top: 40px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
}
@media only screen and (max-width:992px){
  .designers .text_note_ p{
    text-align: center;
  }
  .designers .text_note_ p br{
    display: none;
  }
}

.text_note_ a{
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 1.25px;
text-align: left;
color: #03cea4;
}
@media only screen and (max-width:992px){
  .text_note_ a{
    text-align: center;
  }
}

.designers .topics{
  display: grid;
  grid-template-columns: auto auto;
  width: 620px;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 37px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #eeeeee;
}

@media only screen and (max-width:992px){
  .designers .topics{
     display: grid;
     grid-template-columns: auto;
     height: auto;
     width: 100%;
     margin-top: 10px;
     text-align: center;
     font-size: 20px;
     text-decoration: underline;
   }
  }

.ui_{
  background: #17255A;
}
.ux_{
  background: #f5772f;
}
.thinking{
  background: #eac435;
  color: #17255A;
}
.architecture{
  background: #2d1e2f;
}
.copy_write{
  background: #e13f29;
}
.brand{
  background: #03cea4;
}
/* end */



/* Eligible start */

.eligible{
  height: 780px;
 
left: 0px;
padding-top:1px;
background: #ffffff;
}
@media only screen and (max-width:992px){
  .eligible{
    display: none;
  }
}

.intro_notes10{
  display: flex;
  height: 580px;
  
  margin: 100px 100px 100px 50px;
  
 
  }

  .text______{
    margin: 10px 10px 199px 0px;
  }

  .text______ h3{
    font-style:normal;
  font-weight: 900;
  font-size: 38px;
  color: #17255A;
  
  line-height: 40px;
  text-transform: capitalize;
  }

  
  .eligible_{
    max-width: 100%;
    height: auto;
  }
/* end */


/* culture */
.culture{
  height: 780px;
   
  left: 0px;
  padding-top:1px;
  background: #f5772f;
  }

  @media only screen and (max-width:992px){
    .culture{
      height: auto;
      margin: 0px;
    }
  }
  
  .intro_notes8{
  display: flex;
  height: 580px;
  margin: 100px 100px 100px 50px;
  }
  @media only screen and (max-width:992px){
    .intro_notes8{
      flex-direction: column;
      height: auto;
      width: auto;
      margin: 0px;
    }
  }

  .culture_{
    max-width: 100%;
    height: auto;
  
  }

  .play_{
    height: 56px;
width: 56px;
margin-left: -300px;
margin-top: 300px;
  }

  @media only screen and (max-width:992px){
    .play_{
      display: none;
    }
  }
  
  .text_______{
  margin: 80px 0px 199px 270px;
  }
  @media only screen and (max-width:992px){
    .text_______{
      height: auto;
      width: auto;
      margin: 0px;
    }
  }
  
  .text_______ h3{
    font-style:normal;
    font-weight: 900;
    font-size: 38px;
    color: #17255A;
    
    line-height: 40px;
    text-transform: capitalize;
  }
  @media only screen and (max-width:992px){
    .text_______ h3{
      text-align: center;
    }
  }

  @media only screen and (max-width:992px){
    .text_______ p{
      text-align: center;
    }
  }
/* end */


/* learning can be fun */

.learn_fun{
  height: 780px;
 
left: 0px;
padding-top:1px;
background: white;
}
@media only screen and (max-width:992px){
  .learn_fun{
   height: auto;
   width: auto;
  }
}

.intro_notes9{
  display: flex;
  height: 580px;
  margin: 100px 100px 100px 50px;
  }
  @media only screen and (max-width:992px){
   .intro_notes9{
      flex-direction: column-reverse;
      height: auto;
      width: auto;
      margin: 0px;
    }
  }

  .text________{
    margin: 10px 10px 199px 0px;
  }

  .text________ h3{
    font-style:normal;
  font-weight: 900;
  font-size: 38px;
  color: #17255A;
  
  line-height: 40px;
  text-transform: capitalize;
  }

  
  .fun_{
    max-width: 100%;
    height: auto;
  }

/* end */


/* /* styling for meet the experts  */
.meet{
  height: 792px ;
  background: #eeeeee;
  padding-top: 1px;
  color: #273043;
}

.meet_con{
  display: flex;
  justify-content: space-between;
  height: 599.4px;
  
  margin: 100px 50px 92.6px 150px;
}

.experts{
  display: grid;
  grid-template-columns: auto auto auto;
  
}

.experts h6{
  margin-top: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 1px;
  letter-spacing: 0.5px;
  text-align: left;
}

.experts p{
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-align: left;
}

.note{
  width: 507.45px;
  height: 362px ;
  margin-left: 10px;
}

.note h3{
  margin-top: 12px;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 66px;
  letter-spacing: -0.5px;
  text-align: left;
}

.note p{
  margin-top: 60px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
}
/* end */


/* anti class learning */

.anti_class{
  height: 780px;
 
left: 0px;
padding-top:1px;
background: white;
}

.intro_notes9{
  display: flex;
  height: 580px;
  
  margin: 100px 100px 100px 50px;
  
  
  }

  .text________{
    margin: 10px 10px 199px 0px;
  }

  .text________ h3{
    font-style:normal;
  font-weight: 900;
  font-size: 38px;
  color: #17255A;
  
  line-height: 40px;
  text-transform: capitalize;
  }

  
  .anti_{
    max-width: 100%;
    height: auto;
  }



/* end */



/* /* FAQ  */

.frequent{
  height: 898px;
  background: #ffffff;
  padding-top: 1px;
}

.freq_con{
  height: 711.16px;
  width: 656px;
  margin: 89px 470px 97.84px 314px;
 
  
}

.freq_con h2{
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 66px;
letter-spacing: -0.5px;
text-align: left;
color: #17255a;

}

.asked_questions_{
  height: 461.16px;
  width: 500px;
  margin: 184px 0px 0px 156px;
  
}
/* end */

/* /* journal  */

.journals{
  width: 100%;
  height: 1113px;
  background: #eeeeee;
  padding-top: 1px;
}

.journ_con{
 
  
  height: 929px;
  
  margin: 91px 50px 93px 50px;
 
}

.journ_con h2{
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 66px;
  letter-spacing: -0.5px;
  margin-left: 50px; 
}

.journ_con a{
  margin-top: 30px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.25px;
  margin-left: 50px;
}

.journal{
  display: flex;
 
  
  height: 700px;
  
  color: #273043;
  margin-top: 86px;

}

.j1{
width: 313px;
height: 700px;
}

.j1 img{
  width: 100%;
  height: auto;
}


.journal h4{
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 37px;
  letter-spacing: 0.25px;
  text-align: left;
}

.journal p{
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}
/* end */



/* mentions */
.mentions{
  height: 243px;
  padding-top: 1px;
  background: #ffffff;
}
.mentions h2{
  margin: 108px 1247px 108px 50px;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.mention{
  display: flex;
  justify-content: space-between;
  height: 43px;
  
  margin: -135px 100px 100px 319px;
}
/* end */



/* software dev */

.hood{
  height: 2790px;
  padding-top: 1px;
background: #ffffff;
}
.content{
  height: 2634px;
  width: 1133px;
  padding-top: 1px ;
  margin: 70px 208px 86px 100px;
  
}

.dev_con1{
  display: flex;
  height: 790px;
  width: 1075px;
  margin: 0px 58px 1930px 0px;
}

.dev_note{
  height: 790px;
  width: 523px;
}

.dev_note h5{
  height: 391px;
  width: 522px;

  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 106px;
  letter-spacing: -1.5px;
  text-align: left;
  color: #17255a;
  margin-top: -10px;
}

.dev_note p{
  height: 321px;
  width: 523px;
  
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.5px;
text-align: left;
color: #273043;
margin-top: -55px;

}

.cut_out1{
    height: 338px;
    width: 338px;
    border-radius: 356px;
    background: #03cea4;
    margin-left: 215px;
    margin-top: 26px;

}

.cut_out1 img{
  width: 500.69px;
  height: 330.96px;
  margin-left: -82px;
  margin-top: 10px;
}

.quote{
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 66px;
letter-spacing: -0.5px;
text-align: left;

margin-top: -1800px;
color: #03cea4;
}

.dev_con2{
  height: 1328px;
width: 1024px;
margin: 126px 0px 0px 109px;

}

.dev_note_2{
  height: 577px;
width: 523px;
margin: 85px 251px 0px 250px;

margin-top: -12px;
}

.dev_note_2 h6{
  
  
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #273043;
}

.dev_note_2 p{
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
text-align: left;
color: #273043;
margin-top: -40px;
}
/* end */



/* product designer */

.cut_out2{
  height: 338px;
  width: 338px;
  border-radius: 356px;
  background: #f5772f;
  margin-left: 215px;
  margin-top: 26px;

}

.cut_out2 img{
width: 500.69px;
height: 330.96px;
margin-left: -82px;
margin-top: 10px;
}

.quote1{
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 66px;
letter-spacing: -0.5px;
text-align: left;

margin-top: -1850px;
color: #f5772f;
}

.des_{
 margin: 86px 0px 85px 108px;
}

.dev_note_3{
height: 608px;
width: 524px; 
margin: 85px 250px 0px 254px;
}

.dev_note_3 h6{  
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #273043;
} 

.p1 p{
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0.5px;
text-align: left;

margin-top: -50px;
  } 

.p2 p{
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.4000000059604645px;
text-align: left;
  } 
  /* end */


   /* apply  */

  .content3{
    height: 2865px;

margin-top: 69px;
margin-left: 100px;

background: #ffffff;

  }

  .apply_note{
    display: flex;
    justify-content: space-between;
    
    height: 572px;
  }

  .apply_note h2{
font-size: 96px;
font-style: normal;
font-weight: 900;
line-height: 106px;
letter-spacing: -1.5px;
text-align: left;

    margin-top: 85px;
    color: #17255a;
  }

  .apply_note p{
    
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
text-align: left;

    margin-top: 78px;
    color: #273043;
  }

  .app_1{
    width: auto;
  }

  .articleofarticles{
    height: 1972px;
    width: 1024px;
    margin: 126px 400px 0px 200px;
    background: #ffffff;
    
   
  }
  
  .app_2{
    width: auto;
  }

  .articles{
    height: 1221px;
    width: 523px;
    margin: 85px 250px 0px 251px;
  }

  article{
    height: 191px;
width: 523px;

font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
text-align: left;


  }

  article h3{
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-top: 50px;
  }

 /* end */

 /* journal */

 .content4{
   height: 2761px;
   padding-top: 1px;
   background: orange;
 }

 .HJ{
   display: flex;
   justify-content: space-around;
   
   height: 438px;
   margin: 70px 50px 0px 50px;

   background: #eeeeee;
 }

 .heading_{
  color: #17255a;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 106px;
  letter-spacing: -1.5px;
  text-align: left;
  
 }

 .button_{
  height: 36px;
  width: 118px;
  
  margin-top: 182px;
  border-radius: 4px;
  
 }

 .heroJ{
   display: flex;
 
  width: 1262.71px;
   height: 574px;
   margin: -106px 143.72px 100px 30px;
   background: purple;
   padding-top: 1px;
 }

 .app_3{
  height: 574px;
  width: 730.7111206054688px;
  
 }

 .inspiration{
  height: 514.567626953125px;
  width: 447px;
 margin: 30px 0px 29px 85px;
  border-radius: 35px;
  
 }
 .heroJ a{
 
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.25px;
  text-align: left;
  color: #03cea4;
  
 }

 .heroJ h3{
 
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #17255a;
 }

 .heroJ p{
 
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #273043;
 }

 .david {
  display: flex;
 
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: #273043;
 }

 .journalofjournals{
  height: 1586.9560546875px;
  width: 1341px;
  margin: 100px 40px 175px 60pxpx;
 
  background: #e13f29;
 }

  .journals_{
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-row-gap: 90px;
   
   
 }

 .journ{
  height: 700px;
  width: 313px;
 }

 .journ h6{
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.25px;
  text-align: left;
  color: #03cea4;
 }

 .journ h2{
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 37px;
  letter-spacing: 0.25px;
  text-align: left;
 }

 .journ p{
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
 }

 .loadbutton{
 margin: 40px 600px 71.04px 600px;
 }
/* end */


 /* faq */
 .content5{
   height: 2251px;
   padding-top: 1px;
   background: #03cea4;
 }

 .dropdown{
   
   height: 1845.39px;
   margin: 73px 51px 332.5px 100px;
   
   background: orange;
 }

 .faq_{
   display: flex;
   
   height: 338px;
background: chartreuse;
 }

 .faq_ h1{
  
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 106px;
  letter-spacing: -1.5px;
  text-align: left;
  color: #17255a;
  
 }


 .faq_ img{
margin-left: 455px;
 }

 .asked_questions{
   display: inline-block;
   width: 500px;
   height: 1358.13px;
   margin: 149.29px 335px 0px 370px;
   text-align: center;
   overflow: hidden;
   padding-top: 1px;
   background: #ff0000;
 }

 dt {
   width: 500px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 40px ;
}
dd {
  margin: 0;
  padding: 0 0 0.5em 0;
}

hr{
  background: black;
  margin-top: 20px;
}